[Desktop Entry]
Encoding=UTF-8
Name=Giram
Comment=Giram Is Really A Modeller
Comment[pl]=Giram - program do modelowania 3D
Exec=giram
Terminal=false
Type=Application
Categories=GTK;Graphics;3DGraphics;
# vi: encoding=utf-8
